#index {
    background-image: url(./assets/dominique_samarco_painting4.png);
    background-position: fixed;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#contact {
    background-image: url(./assets/dominique_samarco_painting5.png);
    background-position: fixed;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#portfolio {
    background-image: url(./assets/dominique_samarco_painting2.png);
    background-position: fixed;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Shadows Into Light', cursive;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#indexNav .nav-link:hover {
    color: red;
}

#contactNav .nav-link:hover {
    color: red;
}

#portfolioNav .nav-link:hover {
    color: red;
}

.card-body {
    background-color: seashell;
    opacity: .5;
}

img {
    opacity: none;
}

.navbar {
    background-color: seashell;
    opacity: .5;
}

#firstProject, #secondProject, #thirdProject {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}



